*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
}
.header{
	height: 16vh;
	background-color: #1e4620;
	display: flex;
	justify-content: left;
}
.header > img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 100px;
	margin-top: 2vh;
}
.header > h4{
	font-size: 24px;
	font-weight: 500;
	margin-left: 20px;
	line-height: 16vh;
	color: #ffffff;
}
.body{
	display: flex;
	justify-content: center;
	height: 84vh;
	background-color: #eeeeee;
}
.login-wrapper{
	flex: 0 0 33%;
    text-align: center;
    background-color: #ffffff;
    height: 60vh;
}
.login-wrapper > img{
	width: 90px;
	height: 90px;
	margin-top: 30px;
}
.login-wrapper > h3{
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}
.login-wrapper > h4{
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
	font-style: italic;
}
input{
	height: 45px;
	width: 85%;
	border: none;
	outline:none;
	border-radius: 30px;
	color: rgba(0, 0, 0, 0.6);
	padding: 0 0 0 45px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 16px;
}
input[type="checkbox"]{
	height: 15px;
}
button{
	height: 45px;
	width: 85%;
	border: none;
	outline:none;
	border-radius: 30px;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 16px;
}
button{
	background-color: #1e4620;
	color: rgba(255, 255, 255, 1);
}
input:focus{
	border: 1px rgba(0, 0, 0, 0.6);
}
button:hover{
	opacity: 0.8;
	cursor: pointer;
}


/*REGISTER.PHP PAGE*/
.profile{
	display: flex;
	justify-content: right;
	float: right;
	margin: auto;
	margin-right: 10px;
}
.profile > img{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 5vh;
}
.profile > h6{
	line-height: 16vh;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 3px;
	font-weight: 300;
}
.profile > a{
	line-height: 16vh;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: 300;
}

.body-wrapper{
/*	height: 16vh;*/
/*	background-color: #1e4620;*/
	display: flex;
	justify-content: center;
}
.left{
	flex: 0 0 30%;
    text-align: left;
    overflow-y: scroll;
    height: 84vh;
}
.left-body{
	margin-top: 2vh;
}
.prof{
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 15%;
	margin-top: 5vh;
}
.student-details{
	height: 5vh;
	background-color: #1e4620;
	width: 70%;
	margin-left: 15%;
	border-radius: 2px;
}
.stud_img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
}
.profile_tbl{
	margin-left: 15%;
}
table{
	border-collapse:collapse;
	width:70%;
	margin: auto;
	margin-left: 15%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 3px;
}
.insert-form{
	margin-left: 5%;
	width: 90%;
	margin-top: 6vh;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 30px;
	margin-bottom: 30px;
}
.insert-form-title{
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center !important;
}

.right{
	flex: 0 0 70%;
    text-align: center;
    padding: 0 15px 0 15px;
    overflow-y: scroll;
    height: 84vh;
}

.header-title{
	background-color: #eeeeee;
	margin-top: 4vh;
	padding: 10px;
}
.header-title > h5{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 17px;
}

.warning-para{
	font-size: 13px;
	font-weight: 400;
	margin-top: 3vh;
	margin-bottom: 3vh;
}
.warning-para > b{
	color: rgba(255, 0, 0, 1.0);
}
.tarea{
	resize: none;
	width: 90%;
	margin-left: 5%;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px;
	font-size: 14px;
}
#error-msg{
	text-align: center;
	color: red;
	margin-top: 5px;
}
#succMsg{
	text-align: center;
	color: green;
	margin-top: 5px;
}